.student-tasks {
  overflow: hidden;
  flex: 1;

  min-width: 1200px;

  box-sizing: border-box;

  border: 1px solid var(--gray-8);

  .student-tasks__header {
    border-bottom: 1px solid var(--gray-8);

    background: var(--gray-3);

    display: flex;
    justify-content: space-between;

    height: 48px;
    box-sizing: border-box;

    padding: 5px;
  }

  .student-tasks__info {
    display: flex;
  }

  .student-tasks__h2 {
    margin: 0;
    align-self: center;

    line-height: 1.4;
  }

  .student-tasks__buttons {
    display: flex;

    .button {
      display: flex;
      align-items: center;

      margin-left: 5px;
    }

    .button:first-child {
      margin-left: 0;
    }

    .button:hover {
      color: var(--red-1);
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      transform: scale(1.20);
    }
  }

  .student-tasks__area {
    display: flex;

    height: calc(100% - 48px);



    .task-list {
      min-width: 230px;
      max-width: 250px;

      display: flex;
      flex-direction: column;

      .task-list__header {
        border: 1px solid var(--gray-8);
        border-top: none;
        border-left: none;

        background: var(--gray-3);

        display: flex;
        justify-content: center;


        padding: 5px;
      }

      ._inner {
        margin-left: -10px;
        margin-right: -10px;

        border:none;
        border-bottom: 1px solid var(--gray-8);
      }

      .task-list__h3 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }

      .task-list__tasks {
        display: flex;
        flex-direction: column;

        padding: 10px;
        padding-top: 0;

        height: 100%;

        overflow-y: auto;

        border-right: 1px solid var(--gray-8);
        box-sizing: border-box;

        ._inner + .task {
          margin-top: 10px;
        }

        .task + ._inner {
          margin-top: 10px;
          border-top: 1px solid var(--gray-8);
        }

        ._active {
          border: 1px solid var(--gray-30);

          .task__back {
            color: var(--gray-30);
          }

          .task__name {
            border-radius:0 0 10px 10px;

            color: var(--black-1);
            background: var(--gray-4);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .student-tasks {
    border-top: none;
  }
}