.nav {
  background: var(--gray-2);
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;

  .nav__main-link {
    margin: 0;

    font-size: 18px;

    height: 30px;
    display: flex;
    
    a {
      display: inline-block;

      text-decoration: none;
      color: var(--black-1);

      align-self: center;

      padding: 6px 10px;
    }
  }

  .nav__notifications {
    margin-left: 5px;
    color: #333;

    display: inline-flex;
    justify-content: center;
    min-width: 15px;


    padding: 1px 3px;
    margin: -2px;
    margin-left: 5px;

    border: 1px solid var(--gray-15);
    border-radius: 4px;
  }


  .nav__links {

    padding-left: 0;
    margin: 0;

    height: 32px;

    display: flex;

    .nav__toggle {
      display: none;
    }

    .link {
      display: flex;

      text-decoration: none;
      color: var(--black-1);
      margin-left: 4px;
      border-radius: 3px;

      padding: 6px 10px;
      line-height: normal;

      align-self: center;
    }

    .link-icon {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-self: center;

      padding-right:8px;
      transform: scale(1.20);
    }

    .link:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    .link:last-child:hover {
      background: rgba(255, 0, 0, 0.2);
    }
  }
}

.left-bar {
  background: var(--gray-2);

  min-width: 230px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &._collapse {
    min-width: 0;
    transition: 0.2s;
  }

  .left-bar__links {
    background: var(--gray-2);

    display: flex;
    flex-direction: column;

    font-size: 16px;


    .link-icon {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      padding-right:10px;
      transform: scale(1.20);
    }

    .link {
      display: flex;

      border-left: 5px solid rgba(1,1,1,0.0);

      padding:12px;
      padding-left: 20px;

      text-decoration: none;
      color:var(--black-1);

      line-height: 1.2;

      height: 20px;
    }

    ._active {
      border-left: 5px solid rgba(0, 55, 255, 0.5);
      color: rgb(0, 48, 220);

      background: var(--gray-5);
    }

    .link:hover {
      border-left: 5px solid rgba(0, 55, 255,  0.3);

      background: rgba(102,102,102,0.15);
    }
  }

  .left-bar__collapse {
    display: flex;

    border-top: 1px solid var(--gray-8);
    background: var(--gray-2);

    padding: 10px;

    justify-content: center;

    text-decoration: none;
    color: black;

    cursor: pointer;
    line-height: 1.2;

    height: 20px;

    .link-icon {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      padding-right:8px;
      transform: scale(1.20);
    }

    ._collapse .link-icon {
      padding-right:0;
    }
  }

  &._collapse .left-bar__collapse .link-icon {
    padding-right:0;
  }

  .left-bar__collapse:hover {
    background: var(--gray-8);
  }
}

@media screen and (max-width: 600px) {
  .nav {
    flex-wrap: wrap;
    justify-content: space-around;

    .link__text {
      display: none;
    }

    .nav__main-link {
      flex:1;
      text-wrap: none;
      white-space: nowrap;

      a {
        padding: 2px;
      }
    }

    .nav__links {
      .nav__toggle {
        display: block;
      }

      .link {
          padding: 6px 3px;
      }
    }

    .nav__notifications {
      margin-left: 0;
      margin-right: 4px;
    }
  }

  ._collapse {
    display: none;
  }

  .left-bar .left-bar__collapse {
    display: none;
  }
}