.info {
  width: 420px;
  padding: 15px;

  background: var(--gray-2);

  height: 200px;

  display: flex;
  flex-direction: column;

  .info__data {
    display: flex;

    flex-direction: column;
  }

  .info__h1 {
    margin: 0 0 10px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .info__row {
    margin-top: 10px;

    .info__item-header {
      font-weight: bold;
    }

    .info__item-content {
      color: black;
    }

    .info__item-content:hover {
      color: var(--gray-30);
    }
  }

  .info__text {
    border:1px solid var(--gray-30);
    border-radius: 5px;
    background: #FFF;

    margin-right: 10px;
    padding: 5px 10px;
  }
}