.tab {
  display: flex;

  padding: 5px 15px;

  align-items: center;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

._invisible {
  .button {
    border: 1px solid var(--gray-25);
    border-radius: 4px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .tab-link {
    opacity: .6;
    text-decoration: none;
  }

  .tab-tab {
    text-decoration: none;

    border: 1px solid var(--gray-25);
    border-radius: 4px;
  }

  .tab-text {
    opacity: .6;
  }

  ._current-tab {
    background:var(--gray-8);
  }
}

._dark {
  .button {
    border: 1px solid var(--gray-25);
    border-radius: 4px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .tab-link {
    opacity: .6;
    text-decoration: none;
  }

  .tab-tab {
    text-decoration: none;

    border: 1px solid var(--gray-25);
    border-radius: 4px;


  }

  .tab-text {
    opacity: .6;
  }

  ._current-tab {
    background:var(--gray-8);
  }
}

._light {
  .button {
    border: 1px solid var(--gray-25);
    border-radius: 2px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .button:active {
    border: 1px solid var(--gray-25);

    background:var(--gray-8);
  }

  .tab-link {
    opacity: .6;
    text-decoration: none;
  }

  .tab-tab {
    text-decoration: none;
    border-radius: 2px;

    border: 1px solid var(--gray-25);
    line-height: 1.2;
  }

  .tab-text {
    opacity: .6;
  }
  .tab-tab:hover {
    background: var(--gray-1);
  }
  .button:hover{
    background: var(--gray-1);
  }

  .tab-tab._current-tab {
    background:var(--gray-5);
  }
}
