.home {
  display: flex;
  flex-direction: column;
  min-height: unquote('max(100vh, 550px)');

  background: var(--gray-0);

  .status{
    position: absolute;

    display: flex;
    justify-content: center;
    align-content: center;

    width: 300px;
    z-index: 3000;

    right:20px;
    border:1px solid;

    align-self: center;
    border-radius: 3px;

    padding: 10px;

    font-size: 1.2em;

    top:-40px;

    transition: 0.6s;
  }

  .red {
    border-color: var(--red-1);
    background: var(--red-2);
  }

  .green {
    border-color: var(--green-2);
    background: var(--green-1);
  }

  .active {
    top:50px;
  }

  @media screen and (max-width: 600px) {
    .status{
      right:calc(50% - 150px);
    }

    .active {
      top:40px;
    }
  }


  .home__content {
    display: flex;
    flex-grow:1;

  }

  .content-wrapper {
    overflow: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px 25px;

    border-left: 1px solid var(--gray-8);
    border-top: 1px solid var(--gray-8);

    height: unquote('max(550px, calc(100vh - 40px))');

    flex: 1;

    position: relative;
  }

  .content {
    box-sizing: border-box;

    height: fit-content;
    max-width: fit-content;

    background: white;

    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    margin: auto;
  }

  .content:after {
    position: absolute;
    content: "";
    bottom: 50px;
    height: 50px;
    width: 1px;
  }
}

@media screen and (max-width: 600px) {
  .home .content-wrapper {
    padding: 0;
    border-left: none;

    .content {
      min-width: 0 !important;
      max-width: none;
      flex:1;
    }
  }

  .home .home__content {
    display: block;
  }
}


@media screen and (max-width: 433px) {
  .home .content-wrapper {
    height: calc(100vh - 70px);
  }
}