.public-page {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: var(--gray-0);
}

.public-page__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--white);
  border: 1px solid var(--gray-8);

  border-radius: 3px;
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

//@media screen and (max-width: 992px) {
//  .public-page {
//    background: #e5ebf1;
//  }
//}
//
//@media screen and (max-width: 600px) {
//  .public-page {
//    background: #e5ebf1;
//  }
//}