.users {
  overflow: hidden;
  flex: 1;

  box-sizing: border-box;

  .users-header {
    border: 1px solid var(--gray-8);

    background: var(--gray-3);

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 5px;

    .users__info {
      display: flex;
      flex:1;

      .users__h2 {
        margin: 0;
        align-self: center;
        white-space: nowrap;

        line-height: 1.4;
      }

      .users__h3 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }
    }

    .users__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .users__import {
    display: flex;
    flex-direction: column;

    border: 2px solid var(--gray-8);
    border-top: none;

    box-sizing: border-box;
    .users-import-header {
      border-bottom: 1px solid var(--gray-8);

      background: var(--gray-3);

      display: flex;
      justify-content: space-between;

      padding: 5px;

      .users-import__h3 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }
    }

    .users-import__content {
      display: flex;
      flex-direction: column;

      .users-import__info {
        display: flex;

        align-items: center;
      }

      .users-import__text {
        padding: 10px;
        padding-right: 0;
      }

      .bold {
        display: inline-block;
        padding: 3px 5px;

        background: var(--gray-3);
        border-radius: 5px;
        border: 1px solid var(--gray-8);
      }
    }

    .users-import-sample {
      align-self: center;
      border-radius: 5px;
      border: 1px solid var(--gray-8);
      margin-bottom: 10px;


      .users-import-sample__header {
        th {
          background: var(--gray-3);
          padding: 10px;
        }
      }

      td {
        padding: 5px 10px;
      }
    }
  }

  .users__requests {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--gray-8);
    border-top: none;

    box-sizing: border-box;

    .users-requests-header {
      border-bottom: 1px solid var(--gray-8);

      background: var(--gray-3);

      display: flex;
      justify-content: space-between;

      padding: 5px;
    }

    .users-requests__h3 {
      margin: 0;
      align-self: center;

      line-height: 1.4;
    }

    .request {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      flex-wrap: wrap;

      .request__content {
        .request__name {
          margin: 0;

          margin-left: 5px;
          flex: 1;

          color: var(--black-1);
          text-decoration: none;

          padding: 5px;

          display: inline-block;
          background: var(--gray-3);
          border-radius: 3px;
          border: 1px solid var(--gray-8);
        }

        .request__email {
          margin-left: 10px;
          color: var(--gray-30);
        }
      }

      .request__buttons {
        .button {
          background: none;

          border-radius: 3px;

          color:var(--gray-30);

          margin-left: 10px;

          border:1px solid var(--gray-15);
        }

        .button:hover {
          color: var(--black-1);
          background: var(--gray-3);
          border:1px solid var(--gray-25);
        }
      }
    }

    .request:nth-child(odd) {
      background: var(--gray-1);
    }

    .request:hover {
      background: var(--gray-2);
    }
  }
}

@media screen and (max-width: 600px) {
  .users .users-header {
    border-top: none;
  }

  .users .request .request__content {
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .users .request .request__buttons {
    padding-top: 5px;
    margin-bottom: 5px;
  }
}